extends layout

block scripts
  script(src=`/javascripts/editWorkout.js`)

block content
  form(action="/workouts/:id/edit", method="post", id="edit_workout_form")
    button.top-spacer-1px.accordion._box._shadow._dark.no-bottom-margin(type="button") Edit Workout Details
    .-panel#edit-panel
      fieldset
        legend Date Records
        .row.card._cream._box.bottom-spacer-20px
          .col.m3.no-padding
            p.no-bottom-margin Recorded Date:
            label.date.no-bottom-margin #{helpers.trimDate(workout.date)}
        .row.card._cream._box.bottom-spacer-20px
          .col.m3.no-padding
            label.no-bottom-margin(for="date") Edit Date:
            input.no-bottom-margin._full-width._box(name="date", type="date")

    each lift, index in workout.exercises
      button.exercise-dropdown.accordion._box._shadow._dark.no-bottom-margin(type="button") Exercise #{index + 1}
      .-panel
        fieldset
          legend Exercise #{index + 1} Details
          .row
            .col.m4.no-padding
              label Exercise Options
              select#exercise-name-3._full-width(name=`lift${index + 1}`, value=lift.name)
                each exercise in menu_opts
                  - if(exercise.value === lift.name)
                    option(value=exercise.value, selected="selected") #{exercise.name}
                  - else 
                    option(value=exercise.value) #{exercise.name}

          .row.bottom-spacer-20px
            .col.m3.no-padding
              label Sets:
              input#input-sets-1._full-width(name=`sets${index + 1}`, type="number", value=lift.sets)

            .col.m3.no-padding
              label Reps:
              input#input-reps-1._full-width(name=`reps${index + 1}`, type="number", value=lift.reps)

            .col.m3.no-padding
              label Weight (kg):
              input#input-weight-1._full-width(name=`weight${index + 1}`, type="number", value=lift.weight)
            
    .row
      .col.m3
        label Comments
        textarea._full-width(name="comments", value=workout.comment rows: 10)

    .flex-container.justify-center.margin-20
      input._alignCenter#edit-workout(type="submit", value="Edit Workout", name=workout._id)