extends layout

block content
  .section
    .title
      h1= title
    .subtitle
      p Welcome to #{title}

  .section
    .container.width470
      form(action="/", method="post")
        .field.is-grouped
          span.tag.is-medium Name
          input.input.main-input(name="name", required)
        .field.is-grouped
          span.tag.is-medium Date:
          input.input.main-input(name="date", type="date")

        .field.is-grouped
          span.tag Exercise 1
          .select
            select(name="lift1")
              each exercise in menu_opts
                option(value=exercise.value) #{exercise.name}
          span.tag Sets:
          input.input(name="sets1")
          span.tag Reps:
          input.input(name="reps1")

        .field.is-grouped
          span.tag Exercise 2
          .select
            select(name="lift2")
              each exercise in menu_opts
                option(value=exercise.value) #{exercise.name}
          span.tag Sets:
          input.input(name="sets2")
          span.tag Reps:
          input.input(name="reps2")

        .field.is-grouped
          span.tag Exercise 3
          .select
            select(name="lift3")
              each exercise in menu_opts
                option(value=exercise.value) #{exercise.name}
          span.tag Sets:
          input.input(name="sets3")
          span.tag Reps:
          input.input(name="reps3")

        .field
          span.tag.is-medium Comments
          textarea.textarea(name="comments", cols="50", rows="5")

        input.button.is-light.main-button(type="submit", value="Submit workout")

  .container
    .section
      .links
        a(href="/list/dad") List Dad's Workouts
        br
        br
        a(href="/list/mum") List Mum's Workouts
        br
        br
        a(href="/list/dad") List Pufflet's Workouts
        br
        br
        a(href="/list/mum") List Rick's Workouts


  