extends layout

block scripts
	script(src="/javascripts/listWorkouts.js")

block content

	.jumbo._dark
		h4.secondary #{helpers.capitaliseFirstChar(name)}#{"'s workouts"}

	each workout in workouts
		label.date.note #{workout.date}
		table._full-width
			thead
				tr
					th Exercise
					th Sets
					th Reps
					th Weight (kg)
			tbody
				- if (workout.exercises.lift1.name !== 'n/a')
					tr
						td #{workout.exercises.lift1.name}
						td #{workout.exercises.lift1.sets}
						td #{workout.exercises.lift1.reps}
						td #{workout.exercises.lift1.weight}

				- if (workout.exercises.lift2.name !== 'n/a')
					tr
						td #{workout.exercises.lift2.name}
						td #{workout.exercises.lift2.sets}
						td #{workout.exercises.lift2.reps}
						td #{workout.exercises.lift2.weight}

				- if (workout.exercises.lift3.name !== 'n/a')
					tr
						td #{workout.exercises.lift3.name}
						td #{workout.exercises.lift3.sets}
						td #{workout.exercises.lift3.reps}
						td #{workout.exercises.lift3.weight}

				- if (workout.exercises.lift4.name !== 'n/a')
					tr
						td #{workout.exercises.lift4.name}
						td #{workout.exercises.lift4.sets}
						td #{workout.exercises.lift4.reps}
						td #{workout.exercises.lift4.weight}

				- if (workout.exercises.lift4.name !== 'n/a')
					tr
						td #{workout.exercises.lift4.name}
						td #{workout.exercises.lift4.sets}
						td #{workout.exercises.lift4.reps}
						td #{workout.exercises.lift4.weight}

		.card._cream
			label Total Work: #{workout.totalWork}kg
			label#workout-comments Comments: #{workout.comments}
		hr
		
	a(href="/workout/new") Back to submission form
