extends layout

block content

	p Listing #{name}'s workouts
	
	each workout in workouts
		p #{workout.date}
			span #{workout.exercises.lift1.name}
			span sets
			span #{workout.exercises.lift1.sets}
			span
			span reps
			span #{workout.exercises.lift1.reps}

			span #{workout.exercises.lift2.name}
			span sets
			span #{workout.exercises.lift2.sets}
			span
			span reps
			span #{workout.exercises.lift2.reps}

			span #{workout.exercises.lift3.name}
			span sets
			span #{workout.exercises.lift3.sets}
			span
			span reps
			span #{workout.exercises.lift3.reps}

		p #{workout.comments}
		
		a(href="/workout/new") Back to submission form
