extends layout

block scripts
	script(src="/javascripts/listWorkouts.js")

block content

	.jumbo._dark
		h4.secondary #{helpers.capitaliseFirstChar(name)}#{"'s workouts"}

	each workout in workouts
		label.date.note #{workout.date}
		table._full-width
			thead
				tr
					th Exercise
					th Sets
					th Reps
					th Weight (kg)
			tbody

				each lift in workout.exercises
					- if (lift.name !== 'n/a')
						tr
							td #{exerciseMap[lift.name]}
							td #{lift.sets}
							td #{lift.reps}
							td #{lift.weight}

		//- .card._cream._box
		//- 	label Total Work: #{workout.totalWork}kg
		//- 	label#workout-comments Comments: #{workout.comments}
		//- .card._nightblue._box.flex-container.justify-space-around
		//- 	form#edit-workout-form(action=`/workouts/${workout._id}/edit`, method="post")
		//- 		input#edit-workout-submit._cream._alignCenter(type="submit", value="Edit", name=workout.id)
		//- 	form#delete-workout-form(action=`/workouts/${workout.id}/delete`, method="post")
		//- 		input#delete-workout-submit._cream._alignCenter(type="submit", value="Delete", name=workout.id)
		hr

	.flex-container.justify-center
		a(href="/workouts/new") Back to Submission Form
