extends layout

block scripts
	script(src="/javascripts/listWorkouts.js")

block content

	.jumbo._dark
		h4.secondary #{helpers.capitaliseFirstChar(name)}#{"'s workouts"}

	each workout in workouts
		label.date.note #{workout.date}
		table
			thead
				tr
					th Exercise
					th Sets
					th Reps
					th Weight
			tbody
				tr
					td #{workout.exercises.lift1.name}
					td #{workout.exercises.lift1.sets}
					td #{workout.exercises.lift1.reps}
					td n/a
				tr
					td #{workout.exercises.lift2.name}
					td #{workout.exercises.lift2.sets}
					td #{workout.exercises.lift2.reps}
					td n/a
				tr
					td #{workout.exercises.lift3.name}
					td #{workout.exercises.lift3.sets}
					td #{workout.exercises.lift3.reps}
					td n/a
	
		p Comments: #{workout.comments}
		
	a(href="/workout/new") Back to submission form
