extends layout

block scripts
  script(src=`/javascripts/newWorkout.js`)

block content
  form(action="/workout/new", method="post", id="workout_form")

    button.accordion._box._shadow._dark.top-spacer-1px.no-bottom-margin(type="button") Personal Details
    .-panel
      fieldset
        legend Personal Details
        .row
          .col.m6.no-padding
            label(for="name") Name:
            input._full-width(name="name", type="text", placeholder="Enter your name")
          .col.m6.no-padding
            label(for="date") Date:
            input._full-width(name="date", type="date")

    #exercise-selectors
      button.exercise-dropdown.accordion._box._shadow._dark.no-bottom-margin(type="button") Exercise 1
      .-panel
        fieldset
          legend Exercise 1 Details
          .row
            .col.m4.no-padding
              label Exercise Options
              select._full-width(name="lift1")
                each exercise in menu_opts
                  option(value=exercise.value) #{exercise.name}

            .col.m4.no-padding
              label Sets:
              input._full-width(name="sets1", type="number")

            .col.m4.no-padding
              label Reps:
              input._full-width(name="reps1", type="number")

      button.exercise-dropdown.accordion._box._shadow._dark.no-bottom-margin(type="button") Exercise 2
      .-panel
        fieldset
          legend Exercise 2 Details
          .row
            .col.m4.no-padding
              label Exercise Options
              select._full-width(name="lift2")
                each exercise in menu_opts
                  option(value=exercise.value) #{exercise.name}

            .col.m4.no-padding
              label Sets:
              input._full-width(name="sets2", type="number")

            .col.m4.no-padding
              label Reps:
              input._full-width(name="reps2", type="number")

      button.exercise-dropdown.accordion._box._shadow._dark.no-bottom-margin(type="button") Exercise 3
      .-panel
        fieldset
          legend Exercise 3 Details
          .row
            .col.m4.no-padding
              label Exercise Options
              select._full-width(name="lift3")
                each exercise in menu_opts
                  option(value=exercise.value) #{exercise.name}

            .col.m4.no-padding
              label Sets:
              input._full-width(name="sets3", type="number")

            .col.m4.no-padding
              label Reps:
              input._full-width(name="reps3", type="number")
        
       

    button.accordion._box._shadow._dark.no-bottom-margin(type="button") Comments
    .-panel

      label(for="comments") Comments
      textarea._full-width(name="comments", placeholder="Enter any workout comments or notes here", rows: 10)

    .flex-container.justify-center.margin-20
      input._alignCenter(type="submit", value="Submit workout")

    